@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

body {
      height: 100vh;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
      align-items: center;
      justify-items: center;

      --primary: #ffd924;
      --secondary: #e5961d;
      --tertiary: #cf4310;

      transition: --primary 1s, --secondary 1s, --tertiary 1s;

      background:
        linear-gradient(var(--primary), transparent),
        linear-gradient(90deg, var(--secondary), transparent),
        linear-gradient(-90deg, var(--tertiary), transparent);
    }

    body:hover {
      --primary: #71bfb1;
      --secondary: #5fa195;
      --tertiary: #c55d00;
    }


    .palette {
      justify-self: stretch;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px;
    }

    .palette .primary {
      background-color: var(--primary);
    }

    .palette .secondary {
      background-color: var(--secondary);
    }

    .palette .tertiary {
      background-color: var(--tertiary);
    }

    .overDown {
    	height: 20px;
    }
    .overDown .tertiary1{
    	background-color: var(--tertiary);
    }
    .btn-pokemon{
    	border: none;
      outline: 0;
      background-color: #0b41a3;
      color: white;
      height: 65px;
      width: auto;
    }

    input {
      padding: 1em 2em;
      font-size: 20px;
      width: 200px;
      border: none;
      border-radius: 15px;
      outline: 0;
      --bezel-width: 5;
      --bezel-radius: 20px 20px 20px 0px;
      --bezel-color: var(--primary);
      -webkit-mask: paint(bezel, filled);
      background-image: paint(bezel, stroke);
      background-color: #e3e3e3;
       text-align: center;
    }

    canvas{
    	display: block;
    	margin: 0 auto;
    	padding-top: 25px;
    	padding-bottom: 5px
    }

    .card{
    	background-color: white;
    	margin: 15px;
    	border-radius: 15px;
    	margin-bottom: 20px;
    	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26); 
		box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
    }
.pokemon-logo{
	margin-bottom: 20px;
	padding: 0px 0px 0px 0px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.incognito{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.namePok{
	text-align: center;
	text-transform: capitalize;
	font-family: 'Nunito', sans-serif;
}

#Answ{
	height: 150px;
	width: 160px;
}